<h1> Welcome! </h1>

<form action="/sessions" method="POST">
  
  <p>
    
    <label for="email">Email:</label>
   
   <input type="text" name="email" id="email"/>
    
  </p>
  
  <input type ="submit"/>
  
</form>