<h1>Create new Cupcake</h1> 
<a href="/cupcakes">Go back</a> 
<form action="/cupcakes" method="post">
  <div>
    <label for="">Cupcake Name:</label>
    <input type="text" name="cupcake[name]" />
  </div>
  <div>
    <label for="">Price:</label>
    <input type="text" name="cupcake[price]" />  
  </div>  
  <input type="submit" value="Create new Cupcake" />
</form>