<h1><%= @listing.name %></h1>
<p>Yummy! This is a delicious cupcake and it's £<%= @listing.price %>.</p>
<a href='/listings'>View All Listings</a>
<a href='/listings/<%= @listing.id %>/edit'>Edit this Listing</a>