<h1><%= @cupcake.name %></h1>
<p>Yummy! This is a delicious cupcake and it's £<%= @cupcake.price %>.</p>
<a href='/cupcakes'>View All Cupcakess</a>
<a href='/cupcakes/<%= @cupcake.id %>/edit'>Edit this Cupcake</a>